      <fieldset id="assets">
        <legend>
          <h3> Availability </h3>
        </legend>
        <div id="asset-list">
          <div class="clearfix">
            <% unless @document['type_ssi'] == 'library_record' %>
               <% if ead_item_access_closed?(@document) %>
                 <p><%= t('blacklight.show.item_closed_access') %></p>
                <% else %>
                  <% if @document['dao_ssi'] and @document['dao_ssi'] != '' %>
                    <p><%= t('blacklight.show.item_open_online') %></p>
                    <% if @document['file_set_ids_ssim'] %>
                      <% images = false %>
                      <% urls = file_set_urls(@document.id) %>
                      <p>Downloads:</p>
                      <% if urls.length > 10 %>
                        <ul class="hhc_index"></ul>
                          <div class="hhc_pager">
                            <ul>
                            <% urls.each_with_index do | fs, index | %>
                              <%# images = true if image?(fs['mime_type_ssi']) == true %>
                              <li><%= link_to fs['file_name_tesim'].first, file_set_url(fs['id']), "title" => fs['mime_type_ssi']  %> </li>
                              <% if (index+1) % 10 == 0 %>
                            </ul>
                            </div>
                            <div class="hhc_pager">
                            <ul>
                              <% end %>
                            <% end %>
                            </ul>
                          </div>
                      <% else %>
                          <ul>
                            <% urls.each_with_index do | fs, index | %>
                              <%# images = true if image?(fs['mime_type_ssi']) == true %>
                              <li><%= link_to fs['file_name_tesim'].first, file_set_url(fs['id']), "title" => fs['mime_type_ssi']  %> </li>
                            <% end %>
                          </ul>
                      <% end %>
                      <% if images == true %>
                      <p>
                        <a href="#gotoviewer">
                          <button type="submit" class="btn btn-primary">View Images</button>
                        </a>
                      </p>
                      <% end %>
                    <% end %>
                  <% else %>
                    <p><%= t('blacklight.show.item_open_access') %></p>
                  <% end %>
                <% end %>
            <% end %>

            <label> Reference No: </label> <br />
            <%= @document['reference_no_ssi'] %>

            <% if @document["type_ssi"] == "library_record" && @document["repository_ssi"] == "Hull Local Studies Library" %>
              <p>
                <%= prism_search_link(@document["title_ssi"]) %>
              </p>
            <% end %>
          </div>
        </div>
      </fieldset>
