<div id="sidebar-nav" class="well square-corners">
  <ul class="nav nav-list">
    <li>
      <fieldset id="assets">
        <legend>
          <h3> Availability </h3>
        </legend>
        <div id="asset-list">
          <div class="clearfix">
            <% unless @document['type_ssi'] == 'library_record' %>
               <% if ead_item_access_closed?(@document) %>
                 <p><%= t('blacklight.show.item_closed_access') %></p>
                <% else %>
                  <% if @document['dao_ssi'] %>
                    <p><%= t('blacklight.show.item_open_online') %></p>
                    <% if @document['file_set_ids_ssim'] %>
                      <% images = false %>
                      <p>Downloads:</p>
                      <p><ul>
                        <% file_set_urls(@document.id).each do | fs | %>
                          <% images = true if image?(fs['mime_type_ssi']) == true %>
                          <li><%= link_to fs['file_name_tesim'].first, file_set_url(fs['id']) %> (<%= fs['mime_type_ssi'] %>)</li>
                        <% end %>
                      </ul>
                      </p>
                      <% if images == true %>
                      <p>
                        <a href='#gotoviewer'>
                          <button type="submit" class="btn btn-primary">View Images</button>
                        </a>
                      </p>
                      <% end %>
                    <% end %>
                  <% else %>
                    <p><%= t('blacklight.show.item_open_access') %></p>
                  <% end %>
                <% end %>
            <% end %>

            <label> Reference No: </label> <br />
            <%= @document['reference_no_ssi'] %>

            <% if @document["type_ssi"] == "library_record" && @document["repository_ssi"] == "Hull Local Studies Library" %>
              <p>
                <%= prism_search_link(@document["title_ssi"]) %>
              </p>
            <% end %>
          </div>
        </div>
      </fieldset>
    </li>
  </ul>
</div>
